<HTML>
  <BODY bgcolor="cyan">

  <center>
    <h1> Auction System </h1>
  </center>

  <form method="POST" action="">
    <center>
    <H2>Create Bid </H2> <br>
    bid_id <input type = "number" name= "bid_id" /> <br>
    project_id <input type = "number" name = "project_id" /> <br>
    quantity <input type = "number" name= "quantity" /> <br>
    start_time <input type = "number" name= "start_time" /> <br>
    end_time <input type = "number" name= "end_time" /> <br>
    expire_time <input type = "number" name= "expire_time" /> <br>
    duration <input type = "number" name= "duration" /> <br>
    status <input type = "number" name= "status" /> <br>
    config_query <input type = "number" name= "config_query" /> <br>
    cost <input type = "number" name= "cost" /> <br>
    <input type = "submit">
    </center>
  </form>

  <form method="POST" action="">
    <center>
    <H2>Create Offer </H2> <br>
    project_id <input type = "number" name = "project_id" /> <br>
    status <input type = "number" name= "status" /> <br>
    resource_id <input type = "number" name= "resource_id" /> <br>
    offer_id <input type = "number" name= "offer_id" /> <br>
    start_time <input type = "number" name= "start_time" /> <br>
    end_time <input type = "number" name= "end_time" /> <br>
    expire_time <input type = "number" name= "expire_time" /> <br>
    duration <input type = "number" name= "duration" /> <br>
    config <input type = "number" name= "config" /> <br>
    cost <input type = "number" name= "cost" /> <br>
    <input type = "submit">
    </center>
  </form>

  </BODY>
</HTML>